<div class="container">
    <div class="row">
        <div class="col-md-12">
            <filter options="$ctrl.name"></filter>
            <hr>
            <salable-equipment></salable-equipment>
            <hr>
            <target-crm-summary-table></target-crm-summary-table>
            <hr>
            <target-crm-target-customer></target-crm-target-customer>
            <hr>
            <target-crm-branch-negative></target-crm-branch-negative>
            <hr>
            <target-crm-offered></target-crm-offered>
            <hr>
            <target-crm-visit></target-crm-visit>
            <hr>
            <upcoming-customer-info></upcoming-customer-info>
        </div>
    </div>
</div>