<div class="container">
    <div class="row">
        <div class="col-md-12">

            <filter options="$ctrl.name"></filter>
            <hr>
            <general-activity></general-activity>
            <hr>
            <new-customer-acquisition></new-customer-acquisition>
            <hr>
            <pricing></pricing>
            <hr>
            <bids-for-regions></bids-for-regions>
            <hr>
            <committee-actions></committee-actions>
            <hr>
            <my-offers></my-offers>
            <hr>
            <ongoing-campaigns></ongoing-campaigns>
            <hr>
            <my-visits></my-visits>
            <hr>
            <loan-costs></loan-costs>
        </div>
    </div>
</div>