<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Found in {{ name }}.html</p>

                <button ng-click="$ctrl.getCredential()">Get Credential</button>
            </div>
            <div class="col-md-6">
                <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div id="chart" dx-chart="$ctrl.chartOptions"></div>

                <div class="action">
                    <div id="selectbox" dx-select-box="$ctrl.selectBoxOptions"></div>
                    <div class="label">Choose a month:</div>
                </div>
            </div>

        </div>
    </div>
</main>