@font-face {
  font-family: "BNPSans";
  src: url(../fonts/bnpp_sans-webfont.eot);
  src: url(../fonts/bnpp_sans-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/bnpp_sans-webfont.woff) format("woff"), url(../fonts/bnpp_sans-webfont.ttf) format("truetype"), url(../fonts/bnpp_sans-webfont.svg#BNPSans) format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "BNPSansCondensed";
  src: url(../fonts/bnpp_sans_cond_v2-webfont.eot);
  src: url(../fonts/bnpp_sans_cond_v2-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/bnpp_sans_cond_v2-webfont.woff) format("woff"), url(../fonts/bnpp_sans_cond_v2-webfont.ttf) format("truetype"), url(../fonts/bnpp_sans_cond_v2-webfont.svg#BNPSansCondensed) format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "BNPRounded";
  src: url(../fonts/bnpp-rounded-v2.eot);
  src: url(../fonts/bnpp-rounded-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/bnpp-rounded-v2.woff) format("woff"), url(../fonts/bnpp-rounded-v2.ttf) format("truetype"), url(../fonts/bnpp-rounded-v2.svg#BNPRounded) format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }