<div class="container">
    <div class="row">
        <div class="col-md-12">
            <filter options="$ctrl.name"></filter>
            <hr>
            <npl-list></npl-list>
            <hr>
            <executive-proceeding-customers></executive-proceeding-customers>
            <hr>
            <close-monitoring></close-monitoring>
            <hr>
            <preview></preview>
            <hr>
            <start-executive-proceeding></start-executive-proceeding>
            <hr>
            <start-warning-customers></start-warning-customers>
            <hr>
            <possible-npl-customers></possible-npl-customers>
            <hr>
            <early-warning-cheque></early-warning-cheque>
            <hr>
            <early-warning-bill></early-warning-bill>
            <hr>
            <tsg-negative-information></tsg-negative-information>
            <hr>
            <bank-status-change></bank-status-change>
        </div>
    </div>
</div>