<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>Chart 1</h2>
            <div class="charts" id="chart1" dx-chart="chart1Options"></div>

            <hr>

            <h2>Chart 2</h2>
            <div class="charts" id="chart2" dx-chart="chart2Options"></div>

            <hr>
            
            <h2>Chart 3</h2>
            <div class="charts" id="chart3" dx-chart="chart3Options"></div>

            <hr>
            
            <h2>Chart 4</h2>
            <div class="charts" id="chart4" dx-pie-chart="chart4Options"></div>

            <hr>
            
            <h2>Chart 5</h2>
            <div class="charts" id="chart5" dx-chart="chart5Options"></div>            

        </div>
    </div>
</div>